body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.ul {
  box-shadow: 0 0 10px #D3D3D3;
  border-radius: 10px;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.ul1{
  list-style-type: none;
}

.ciao{
    float: left;

}

.ciao a{
    text-decoration: none;
}

.li1 {
  float: left;
  background-color: white;
}

.li1 a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover{
 text-decoration: none;
}

.ciao a:hover{
 text-decoration: none;
}

.img1{
    width: 150px;
}

img{
    background-color: 
}

.h1{
    margin-left: 20px;
    margin-top: 20px;
}