body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fffeef;
}

*{
    background-color: #fffeef;
}

.head{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  padding: 10px;
}

.ul {
  
  box-shadow: 0 0 10px #D3D3D3;
  border-radius: 10px;
  list-style-type: none;
  
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.ul1{
  list-style-type: none;
}

.ciao{
    float: left;
}

.ciao a{
    text-decoration: none;
}

.li1 {
  float: left;
  background-color: white;
}

.li1 a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover{
 text-decoration: none;
}

.ciao a:hover{
 text-decoration: none;
}

.img1{
    width: 150px;
}

.img2{
    width: 300px;
    float: left;
}

.h1{
    padding-left: 20px;
    padding-top: 20px;
}

.p2{
    padding: 20px;
}


