doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   header
    ul
     li.li1
      a.active(href='#home') Home
     li.li1
      a(href='#news') News
     li.li1
      a(href='#contact') Contact
     li.li1
      a(href='#about') About

   block content
